
<div *ngIf="post">
    <h2><span>Post</span> {{post.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Title</span></dt>
        <dd>
            <span>{{post.title}}</span>
        </dd>
        <dt><span>Body</span></dt>
        <dd>
            <span>{{post.body}}</span>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            <span>{{post.author}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
